%p
  %h3
    %b= product.title
  %hr
%p
  %b Description:
  = product.description
%p
  %b Price:
  $
  = product.price
%p
  %b Rating:
  = '%.2f' % product.average_rating
  out of 5  
%p
  %b Category
  = product.category.name
%hr
-if user_signed_in?
  %h3 Review this product

= render 'reviews/form'

%h3
  = product.reviews.count 
  Reviews
  
= render reviews

%br/


= link_to 'Back', category_products_path, class: 'btn btn-primary' 
%p
